.graphcont {
    width: 40vw;
    height: 47vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.graph {
    width: 80%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 20px;

    .graphtitle {
        margin-bottom: 3vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


@media only screen and (max-width: 992px) {
    .graphcont {
        align-items: end;
        height: 44vh;
        width: 100%;

    }
}
