.navbar {
    position: relative;
    top: 0px;
    color: rgb(182, 182, 182);
    height: 6vh;
    width: 100vw;
    display: none;
    justify-content: space-between;
    z-index: 100;
    align-items: end;
    font-size: 2.5vw;

    .logo2 {
        font-style: normal;
        font-weight: 800;
        line-height: 36px;
        letter-spacing: 0.1em;
        color: rgb(182, 182, 182);
        text-align: center;
        margin-left: 2vw;
    }

    .option2 {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        line-height: 36px;
    }

    .user2 {
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.09em;
        color: rgb(182, 182, 182);
        margin-right: 2vw;

        .logout {
            font-weight: 700;
            font-size: 1.5vw;
            color: #ac0505;
            margin-right: 1vw;
        }
    }

    .menu {

        display: none;
        margin-right: 2vw;
        font-weight: bold;
        line-height: 36px;
    }
    
}

@media only screen and (max-width: 768px) {
    .navbar {
        display: flex;

        .user2 {
            display: flex;
        }
    }
    
}

@media only screen and (max-width: 600px) {
    
    .navbar {
        font-size: 4.5vw;
        .option2 {
            display: none;
        }

        .user2 {
            display: none;
        }

        .menu {
            display: block;
        }
    }
    
    
}