.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: #16161c;

    .logo {
        font-style: normal;
        font-weight: 800;
        font-size: 4vh;
        line-height: 36px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        text-align: center;
        height: 20vh;

        div {
            padding-top: 10vh;
        }
    }

    .option {
        text-align: center;
        height: auto;
        min-height: 63vh;
        margin-top: 7vh;

        .tab {
            font-size: 3vh;
            line-height: 5vh;
            color: #FFFFFF;
        }
    }

    .user {
        text-align: center;
        border-top: solid 1px gray;
        width: 95%;
        margin-inline: 2.5%;
        height: 5vh;
        padding-top: 3.5vh;
        font-weight: 400;
        font-size: 2vh;
        line-height: 2.5vh;
        letter-spacing: 0.09em;
        color: #FFFFFF;

        .logout {
            font-weight: 700;
            font-size: 1.9vh;
            color: #ac0505;
        }
    }
}



@media only screen and (max-width: 992px) {
    
    .sidecont {
        display: block;
        height: 143vh;
        min-height: 966px;
    }

    .sidebar {
        position: sticky;
        top:0;

        .logo {
            font-size: 3vw;  
        }

        .option {
            font-size: 1.3vw;  
        }

        .user {
            font-size: 1.5vh;  
            .logout {
                font-size: 1vh;
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}