.titlezone {
    text-align: center;

    h1 {
        font-weight: 400;
        font-size: 2.3vw;
        line-height: 4vw;
        letter-spacing: 0.09em;
        color: white;
        margin: 0;
        
    }

    div {
        font-weight: 300;
        font-size: 1vw;
        line-height: 22px;
        letter-spacing: 0.09em;
        color: #B7B7B7;
    }
}

@media only screen and (max-width: 992px) {

    .titlezone {
    
        h1 {
            font-size: 3vw;
            line-height: 3vh;
        }

        div {
            font-size: 1.6vw;
        }
    }    
    
}

@media only screen and (max-width: 768px) {

    .titlezone {
    
        h1 {
            font-size: 3vw;
            line-height: 1.5vh;
        }
    }
}


