.transaction {
    width: 38vw;
    height: 50vh;
    overflow-y: auto;
    max-height: 50vh;
    display: flex;
    justify-content: space-around;

    .transtable {
        border-collapse: collapse;
        margin: 25px 0;
        border-radius: 7px 7px 0px 0px ;
        overflow: hidden;
        width: 38vw;

        th,td {
            padding: 9px;
            font-size: 1.1vw;
        }

        thead {
            tr {
                border: 1px solid #48485e;
                background-color: #48485e;
                color: white;
                text-align: left;
            }
        }

        tbody {

            tr {
                border: 1px solid #E3E3E3;
                border-bottom: 1px solid #efefef;

                td {
                    a:-webkit-any-link  { 
                        text-decoration: none; 
                        font-weight: bold;
                        color: #48485e;
                    }
                }
            }

            tr:hover {
                font-weight: bold;
                color:#48485e ;
            }
           
            tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            tr:last-of-type {
                border-bottom: 2px solid #48485e ;
            }
        }
    }
}

.transaction::-webkit-scrollbar {
    display: none;
}



@media only screen and (max-width: 992px) {

    .transaction {
        width: 90%;
        margin-left: 5%;

        .transtable {
            width: 68vw;

            th,td {
                font-size: 1.6vw;
            }
        }

        li {
            font-size: 2vw;
        }
    }
    
}

@media only screen and (max-width: 768px) {

    .transaction {

        .transtable {
            width: 85vw;
            min-width: 1vh;

            th,td {
                font-size: 2vw;
            }
        }

        li {
            font-size: 2.7vw;
        }
    }
}

@media only screen and (max-width: 600px) {
    
    .transaction {

        .transtable {
            tr {

                font-size: 1.2vh;
                
                td {
                    font-size: 1.2vh;
                }
            }
        }
        
        li {
            font-size: 2.6vw;
        }
    }
    
}