.transaction {
    width: 40vw;
    height: 50vh;
    overflow-y: auto;
    max-height: 50vh;
}

.transaction::-webkit-scrollbar {
    display: none;
}

.addbutton {
    background: #26268D;
    border-radius: 15px;
    color: white;
    padding: 10px;
    font-size: 14px;
    padding-inline: 1.8vw;
    position: relative;
    top: 4.5vh;
    margin-left: 19vw;
    
}

@media only screen and (max-width: 992px) {

    .transaction {
        width: 90%;
        margin-left: 5%;

        li {
            font-size: 2vw;
        }

        .addbutton {
            margin-left: 47vw;
        }
    }
    
}

@media only screen and (max-width: 768px) {

    .transaction {

        li {
            font-size: 2.7vw;
        }
    }
}

@media only screen and (max-width: 600px) {
    
    .transaction {
        
        li {
            font-size: 2.6vw;
        }
        .addbutton {
            font-size: 3vw;
            margin-left: 47vw;
        }
    }
    
}