.projbutton {
    background: #26268D;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 2vh;
    padding-inline: 1.8vw;
    position: absolute;
    bottom: -6.5vh;
}
.transaction {
    width: 38vw;
    height: 50vh;
    overflow-y: auto;
    max-height: 50vh;
    display: flex;
    justify-content: space-around;

    .titlep {
        width: 100%;
        text-align: center;
        font-size: 25px;
        height: 15px;
    }


    .transtable {
        border-collapse: collapse;
        margin: 25px 0;
        border-radius: 7px 7px 0px 0px ;
        overflow: hidden;
        width: 38vw;

        .centered_text {
            text-align: center;
        }

        .first_row {
            padding-left: 35px;
        }

        th,td {
            padding: 9px;
            font-size: 0.85vw;
        }

        thead {
            tr {
                border: 1px solid #31313d;
                background-color: #31313d;
                color: white;
                text-align: left;
            }
        }

        tbody {

            tr {
                border: 1px solid #E3E3E3;
                border-bottom: 1px solid #efefef;

                td {
                    a:-webkit-any-link  { 
                        text-decoration: none; 
                        font-weight: bold;
                        color: #48485e;
                    }
                }
            }

            tr:hover {
                font-weight: bold;
                color:#48485e ;
            }
           
            tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            tr:last-of-type {
                border-bottom: 2px solid #48485e ;
            }
        }
    }

}

.proj {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;

    .pver {
        height: 42vh;

    }
}

.transaction::-webkit-scrollbar {
    display: none;
}



@media only screen and (max-width: 992px) {

    .transaction {
        width: 90%;
        margin-left: 5%;

        .transtable {
            width: 68vw;

            th,td {
                font-size: 1.6vw;
            }
        }

        li {
            font-size: 2vw;
        }
    }
    
}

@media only screen and (max-width: 768px) {

    .transaction {

        .transtable {
            width: 85vw;
            min-width: 1vh;

            th,td {
                font-size: 2vw;
            }
        }

        li {
            font-size: 2.7vw;
        }
    }
}

@media only screen and (max-width: 600px) {
    
    .transaction {

        .titlep {
            font-size: 5.5vw;
        }
        .transtable {
            tr {

                font-size: 1.2vh;
                
                tr {
                    font-size: 0.8vh;
                }
            }
        }
        
        li {
            font-size: 2.6vw;
        }
    }
}