@import url("components/card.scss");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

#someselector {
    all: initial;
    * {
      all: unset;
    }
  }

a:link { text-decoration: none; }

body {
    font-family: Poppins;
    display: flex;
    overflow: hidden;
}

.vsc-initialized {
    margin: 0;
}

.container {
    width: 80%;
    height: 100vh;
}

.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: #262631;
}

.supérieur {
    width: 80vw;
    height: 38vh;
    background-image: linear-gradient(180.24deg, rgba(6, 8, 56, 0.75) 13.5%, rgba(0, 0, 0, 0) 99.79%), url(asset_path('nasa-unsplash'));
    background-size: 80vw 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -100;

    .titlezone {
        text-align: center;

        h1 {
            font-weight: 400;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 0.09em;
            color: white;
            margin: 0;
        }

        div {
            font-weight: 300;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.09em;
            color: #B7B7B7;
        }
    }
    
}


.inferieur {
    position: fixed;
    top: 50vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.transaction {
    width: 40vw;
    height: 50vh;
}

.graphcont {
    width: 40vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.graph {
    width: 80%;
    height: 70%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 20px;
}

.addbutton {
    background: #26268D;
    border-radius: 15px;
    color: white;
    padding: 10px;
    padding-inline: 10%;
    position: relative;
    top: 5vh;
    left: 19%;
    
}
