@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

#someselector {
    all: initial;
    * {
      all: unset;
    }
  }

a:link { text-decoration: none; }


.fakebody {
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.423) 100%), url(asset_path('nasa-unsplash')) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.containerform{
    width: 450px;
    height: 410px;
    border: solid 1px rgb(170, 170, 170);
    border-radius: 5px;
    padding: 60px 20px 60px 20px;
    background-color: white;

    
    .titleform {
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 15%;
        color: #26268D;
        font-size: 28px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        height: 35px;
        margin: 10px 0px 10px 0px;
        align-items: center;

        label {
            color:rgb(121, 121, 121);
        }
        
        input {
            width: 230px;
            text-align: left;
            padding: 8px;
            color:rgb(121, 121, 121);
            border: solid 1px #c7c7c7;
            
        }
    }


    .rdfield {
        display: flex;
        flex-wrap: wrap;

        div {
            height: 35px;
            width: 300px;

            label {
                color:rgb(121, 121, 121);
            }
        }
    }

    .submit {
        text-align: center;
        width: 100%;
        color: white;
        border: 0;
        background-color: #26268D;
        padding: 15px 10px;
        font-weight: 900;
        border-radius: 5px;
    }

    .b {
        margin-top: 62px;
    }

    .b2 {
        margin-top: 14px;
    }

    .b3 {
        margin-top: 152px;
    }

    .deleteb {
        text-align: center;
        border: 0;
        background-color: #801919;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 5px;
        text-decoration: none; 
        color: white;
        padding: 12px 10px ;
        width: 100%;


    }

    .bfield {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        flex-wrap: wrap;

    }
}


